import { Component } from '@angular/core';
import { TestBed } from '@angular/core/testing';
import { By } from '@angular/platform-browser';
import { {= .cls =} } from './{= .name =}';

@Component({
  imports: [{= .cls =}],
  template: `<div {= .selector =}></div>`,
})
class Host {}

describe('{= .cls =}', () => {
  it('applies to its host element', async () => {
    const fixture = TestBed.createComponent(Host);
    await fixture.whenStable();

    const host = fixture.debugElement.query(By.directive({= .cls =}));

    expect(host).not.toBeNull();
  });
});
