import { TestBed } from '@angular/core/testing';
import { {= .cls =} } from './{= .name =}';

describe('{= .cls =}', () => {
  it('renders', async () => {
    const fixture = TestBed.createComponent({= .cls =});
{= range .samples =}    fixture.componentRef.setInput('{= .name =}', {= .value =});
{= end =}    await fixture.whenStable();

    expect(fixture.nativeElement as HTMLElement).toBeInstanceOf(HTMLElement);
  });
});
